{% extends "layout.html" %}
{% block body %}
    <div class="pyprimer3">
        <form action="{{ url_for('upload_file') }}" method=post enctype=multipart/form-data>
            <input type=file name=file><br/><br/>
            <hr/>
            <label><b>Genome Assembly</b></label><br/>
            <input type=radio name=db value=hg38 checked />Dec. 2013 (GRCh38/hg38)<br/>
            <input type=radio name=db value=hg19 />Feb. 2009 (GRCh37/hg19)<br/>
            <!--<img src="{{ url_for('static', filename='favicon.ico') }}" onclick=fade() /><br/>
            <div class=options style="display:none;">-->
            <hr/>
            <label><b>Spreadsheet Columns</b></label>
            <table>
                <tr>
                    <td>Chromosome Column Name:</td>
                    <td><input type=text name=chromcol value="#CHROM"/></td>
                </tr>
                <tr>
                    <td>Position Column Name:</td>
                    <td><input type=text name=poscol value="POS"/></td>
                </tr>
                <tr>
                    <td>Reference Column Name:</td>
                    <td><input type=text name=refcol value="REF"/></tr>
                </tr>
            </table>
            <hr/>
            <label><b>Sequence Options</b></label>
            <table>
                <tr>
                    <td>Bracketed Sequence Length</td>
                    <td><input type=text name=bracketlen value="500"/></td>
                </tr>
                <tr>
                    <td>Primer3 Sequence Length</td>
                    <td><input type=text name=primerlen value="200-500"/></td>
                </tr>
            </table>
            <hr/>
            <!--</div>-->
            <input type=submit value="Get Primers"/>
        </form>
    </div>
    <div class="splicesite">
        <form action=" {{ url_for('splice_site') }}" method=post>
        <hr/>
        <label><b>Genome Assembly</b></label><br/>
        {% if db and db!='hg19' %}
        <input type=radio name=db value=hg38 checked />Dec. 2013 (GRCh38/hg38)<br/>
        <input type=radio name=db value=hg19 />Feb. 2009 (GRCh37/hg19)<br/>
        {% else %}
        <input type=radio name=db value=hg38 />Dec. 2013 (GRCh38/hg38)<br/>
        <input type=radio name=db value=hg19 checked />Feb. 2009 (GRCh37/hg19)<br/>
        {% endif %}
        <hr/>
        <label><b>Mutation Information</b></label>
        <table>
            <tr>
                <td>Chromosome:</td>
                {% if not chromosome or chromosome=='' %}
                <td><input type=text name="chromosome"/></td>
                {% else %}
                <td><input type=text name="chromosome" value="{{ chromosome }}"/></td>
                {% endif %}
            </tr>
            <tr>
                <td>Position:</td>
                {% if not position or position=='' %}
                <td><input type=text name="position"/></td>
                {% else %}
                <td><input type=text name="position" value="{{ position }}"/></td>
                {% endif %}
            </tr>
            <tr>
                <td>Mutated Base:</td>
                {% if not base or base=='' %}
                <td><input type=text name="base" size="1"/></td>
                {% else %}
                <td><input type=text name="base" size="1" value="{{ base }}"/></td>
                {% endif %}
            </tr>
        </table>
        <hr/>
        <input type=submit value="Get Splice Site Predictions"/>
        </form>
    </div>
    <div>
       Notable Prediction Changes 
        <table>
            <tr>
                <th>Start</th>
                <th>End</th>
                <th>Score</th>
                <th>Intron</th>
                <th>Exon</th>
            </tr>
        {% for item in reportList %} 
            <tr>
                <td>{{ item[0] }}</td>
                <td>{{ item[1] }}</td>
                <td>{{ item[2] }}</td>
                <td>{{ item[3] }}</td>
                <td>{{ item[4] }}</td>
            </tr>
        {% endfor %}
        </table>

    </div>

{% endblock %}
