{% extends "layout.html" %}
{% block body %}
    <script type=text/javascript>
    </script>
  <div class="tab-content">
    <div class="tab-pane active" id="status">
      <br/>
      <div class="progress">
        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="{{ val }}"
         aria-valuemin="0" aria-valuemax="100" style="width:{{ val }}%" id="myprogressbar">{{ val }}%
        </div>
        <script type=text/javascript>
          //getbStatus("/bstatusupdate");
          getStatus("/status", "{{ myfunc }}", "{{ task_id }}");
        </script>
      </div>
      <div class="finalmessage hidden">Processing complete. Return <a href="/">home</a></div>
    </div>
  </div>

{% endblock %}
